[v-cloak] {display: none}

body {
  background-color: #2D2D2D;
  color: #DDDDDD;
  font-family: sans-serif;
  margin: 0;
}

/* GRID LAYOUT */

main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 20rem auto;
  grid-template-rows: auto 15rem auto auto;
}

.title-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dice-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ELEMENTS */

button {
  background-color: #579AD1;
  color: #FFFFFF;
  border: 0px;
  border-radius: 2px;

  padding: 1rem;
  font-size: 1.5rem;
}

h1 {
  font-size: 8rem;
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 6rem;
  text-align: center;
  color: #8ACE94;
}

.dice {
  display: flex;
}

.die {
  background-color: #8ACE94;
  color: #252526;
  border-radius: 2px;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.die:nth-child(1) {
  margin-right: 0.5rem;
}

.seven {
  color: #FF6E76;
}
